:root {
  --flag-height: 7rem;
  --flag-width: calc(var(--flag-height) * 1.5);

  /* Niederlande */
  --color-netherlands-red: rgb(173, 29, 37);
  --color-netherlands-white: rgb(255, 255, 255);
  --color-netherlands-blue: rgb(30, 71, 133);

  /* Italien */
  --color-italy-green: rgb(0, 140, 69);
  --color-italy-white: rgb(244, 245, 240);
  --color-italy-red: rgb(205, 33, 42);

  /* Mauritius */
  --color-mauritius-red: rgb(208, 28, 31);
  --color-mauritius-blue: rgb(45, 51, 89);
  --color-mauritius-yellow: rgb(247, 183, 24);
  --color-mauritius-green: rgb(0, 134, 88);

  /* Thailand */
  --color-thailand-red: rgb(165, 25, 49);
  --color-thailand-blue: rgb(45, 42, 74);
  --color-thailand-white: rgb(244, 245, 248);

  /* Benin */
  --color-benin-green: rgb(0, 136, 80);
  --color-benin-yellow: rgb(252, 210, 15);
  --color-benin-red: rgb(233, 9, 41);

  /* Japan */
  --color-japan-white: rgb(255, 255, 255);
  --color-japan-red: rgb(188, 0, 45);

  /* Palau */
  --color-palau-blue: rgb(74, 173, 214);
  --color-palau-yellow: rgb(255, 222, 0);

  /* Schweiz */
  --color-switzerland-red: rgb(255, 0, 0);
  --color-switzerland-white: rgb(255, 255, 255);

  /* Schweden */
  --color-sweden-blue: rgb(0, 91, 174);
  --color-sweden-yellow: rgb(255, 195, 1);
}

* {
  box-sizing: border-box;
}

.flag {
  display: grid;

  height: var(--flag-height);
  width: var(--flag-width);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.netherlands {
  grid-template-rows: repeat(3, 1fr);

  .red {
    background-color: var(--color-netherlands-red);
  }

  .white {
    background-color: var(--color-netherlands-white);
  }

  .blue {
    background-color: var(--color-netherlands-blue);
  }
}

.italy {
  grid-template-columns: repeat(3, 1fr);

  .green {
    background-color: var(--color-italy-green);
  }

  .white {
    background-color: var(--color-italy-white);
  }

  .red {
    background-color: var(--color-italy-red);
  }
}

.mauritius {
  grid-template-rows: repeat(4, 1fr);

  .red {
    background-color: var(--color-mauritius-red);
  }

  .blue {
    background-color: var(--color-mauritius-blue);
  }

  .yellow {
    background-color: var(--color-mauritius-yellow);
  }

  .green {
    background-color: var(--color-mauritius-green);
  }
}

.thailand {
  grid-template-rows: 1fr 1fr 2fr 1fr 1fr;

  .red {
    background-color: var(--color-thailand-red);
  }

  .white {
    background-color: var(--color-thailand-white);
  }

  .blue {
    background-color: var(--color-thailand-blue);
  }
}

.benin {
  /* ausführliche Schreibweise */
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 1fr;

  .green {
    background-color: var(--color-benin-green);
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .yellow {
    background-color: var(--color-benin-yellow);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .red {
    background-color: var(--color-benin-red);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  /* Kurzschreibweise */
  grid-template: 1fr 1fr / 2fr 3fr;

  .green {
    background-color: var(--color-benin-green);
    grid-row: span 2;
  }

  .yellow {
    background-color: var(--color-benin-yellow);
  }

  .red {
    background-color: var(--color-benin-red);
  }

  /* alternative Schreibweise */
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "green yellow"
    "green red";

  .green {
    grid-area: green;
    background-color: var(--color-benin-green);
  }
  .yellow {
    grid-area: yellow;
    background-color: var(--color-benin-yellow);
  }
  .red {
    grid-area: red;
    background-color: var(--color-benin-red);
  }
}

.japan {
  background-color: var(--color-japan-white);

  .red-circle {
    background-color: var(--color-japan-red);
    height: calc(var(--flag-height) * 3 / 5);

    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }

  /* ausführliche Schreibweise */
  align-items: center;
  justify-items: center;

  /* Kurzschreibweise */
  place-items: begin;
}

.palau {
  background-color: var(--color-palau-blue);
  grid-template-columns: 1.5fr 3fr 3.5fr;
  align-items: center;

  .yellow-circle {
    background-color: var(--color-palau-yellow);
    height: calc(var(--flag-height) * 3 / 5);
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}

.switzerland {
  /* Ausführliche Schreibweise */
  background-color: var(--color-switzerland-red);
  grid-template-columns: 6fr 7fr 6fr 7fr 6fr;
  grid-template-rows: 6fr 7fr 6fr 7fr 6fr;
  width: var(--flag-height);

  .horizontal,
  .vertical {
    background-color: var(--color-switzerland-white);
  }

  .horizontal {
    grid-column: 3;
    grid-row: 2 / 5;
  }

  .vertical {
    grid-column: 2 / 5;
    grid-row: 3;
  }

  /* Kurzschreibweise */
  background-color: var(--color-switzerland-red);
  grid-template: 6fr 7fr 6fr 7fr 6fr / 6fr 7fr 6fr 7fr 6fr;
  width: var(--flag-height);

  .horizontal,
  .vertical {
    background-color: var(--color-switzerland-white);
  }

  .horizontal {
    grid-area: 2 / 3 / 5 / 4;
  }

  .vertical {
    grid-area: 3 / 2 / 4 / 5;
  }
}

.sweden {
  background-color: var(--color-sweden-blue);
  grid-template-columns: 5fr 2fr 9fr;
  grid-template-rows: 4fr 2fr 4fr;
  width: calc(var(--flag-height) * 1.6);

  .horizontal,
  .vertical {
    background-color: var(--color-sweden-yellow);
  }

  .horizontal {
    grid-column: 1 / 4;
    grid-row: 2;
  }

  .vertical {
    grid-column: 2;
    grid-row: 1 / 4;
  }
}
