* {
  box-sizing: border-box;
}

.flag {
  height: 7rem;
  width: 10.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dutch-flag {
}

.italian-flag {
}

.mauritius-flag {
}

.benin-flag {
}

.japanese-flag {
}

.swiss-flag {
}

.swedish-flag {
}
