* {
  box-sizing: border-box;
}

.flag {
  height: 7rem;
  width: 10.5rem;
  box-shadow:
    2px 4px 8px rgb(0 0 0 / 0.1),
    0px 0px 6px rgb(0 0 0 / 0.1);
}

.netherlands {
}

.italy {
}

.mauritius {
}

.japan {
}

.benin {
}

.switzerland {
}

.sweden {
}

.scotland {
}

.trinidad-and-tobago {
}

.great-britain {
}
