:root {
  --flag-height: 7rem;
  --germany-width: calc(var(--flag-height) * 5 / 3);
  --ireland-width: calc(var(--flag-height) * 2);
}

body {
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem;

  @media screen and (min-width: 768px) {
    gap: 2rem;
    padding: 1.5rem;
  }
}

.flags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

  @media screen and (min-width: 768px) {
    gap: 2rem;
  }
}

.german-flag {
  height: var(--flag-height);
  width: var(--germany-width);

  &::before {
    content: "";
    display: block;
    background-color: rgb(0, 0, 0);
    height: calc(var(--flag-height) / 3);
    width: 100%;
    box-shadow: 0px calc(var(--flag-height) / 3) rgb(255, 0, 0),
      0px calc(var(--flag-height) / 3 * 2) rgb(255, 206, 0);
  }
}

.irish-flag {
  height: var(--flag-height);
  width: var(--ireland-width);

  &::before {
    content: "";
    display: block;
    background-color: rgb(22, 155, 98);
    height: 100%;
    width: calc(var(--ireland-width) / 3);
    box-shadow: calc(var(--ireland-width) / 3) 0px rgb(255, 255, 255),
      calc(var(--ireland-width) * 2 / 3) 0px rgb(255, 136, 62);
  }
}
