:root {
  --transition-fast: 150ms;
  --transition-slow: 450ms;
}

.netherlands {
  transition: box-shadow var(--transition-slow);

  &:hover {
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.5);
    transition-duration: var(--transition-fast);
  }
}

.italy {
  transition: box-shadow var(--transition-slow);

  &:hover {
    box-shadow: none;
    transition-duration: var(--transition-fast);
  }
}

.mauritius-container {
  .mauritius {
    transition: translate var(--transition-slow);
  }

  &:hover .mauritius {
    translate: 0 0.5rem;
    transition-duration: var(--transition-fast);
  }
}

.thailand-container {
  .thailand {
    transition: translate var(--transition-slow);
  }

  &:hover .thailand {
    translate: 0.75rem 0;
    transition-duration: var(--transition-fast);
  }
}

.japan {
  transition: scale var(--transition-slow);

  &:hover {
    scale: 1.1;
    transition-duration: var(--transition-fast);
  }
}

.palau-container {
  .palau {
    transition: scale var(--transition-slow);
  }

  &:hover .palau {
    scale: 0.9;
    transition-duration: var(--transition-fast);
  }
}

.switzerland-container {
  overflow: hidden;

  .switzerland {
    transition: scale var(--transition-slow);

    &:hover {
      scale: 1.1;
      transition-duration: var(--transition-fast);
    }
  }
}

.benin {
  transition: transform var(--transition-slow);

  &:hover {
    transform: scaleX(1.1);
    transition-duration: var(--transition-fast);
  }
}

.sweden-container {
  .sweden {
    transition: transform var(--transition-slow);
  }

  &:hover .sweden {
    transform: scaleX(0.9);
    transition-duration: var(--transition-fast);
  }
}

.czech-republic-container {
  .czech-republic {
    transition: rotate var(--transition-slow);
    will-change: rotate;
  }

  &:hover .czech-republic {
    rotate: 5deg;
    transition-duration: var(--transition-fast);
  }
}

.bahamas-container {
  .bahamas {
    transition: rotate var(--transition-slow);
    will-change: rotate;
  }

  &:hover .bahamas {
    rotate: -5deg;
    transition-duration: var(--transition-fast);
  }
}

.trinidad-and-tobago-container {
  .trinidad-and-tobago {
    transition: rotate var(--transition-slow);
    will-change: rotate;
  }

  &:hover .trinidad-and-tobago {
    rotate: 190deg;
    transition-duration: var(--transition-fast);
  }
}

.seychelles-container {
  .seychelles {
    transition: transform var(--transition-slow);
  }
  &:hover .seychelles {
    transform: scaleY(-1);
    transition-duration: var(--transition-fast);
  }
}

.greenland-container {
  .greenland {
    transition: transform var(--transition-slow);
  }

  &:hover .greenland {
    transform: scaleX(-1);
    transition-duration: var(--transition-fast);
  }
}
