:root {
  --flag-height: 7rem;
  --flag-width: calc(var(--flag-height) * 1.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem;
  font-family: "Inter", sans-serif;

  @media screen and (min-width: 768px) {
    gap: 2.5rem;
    padding: 1.5rem;
  }
}

h1 {
  padding-top: 1rem;
  font-weight: 500;
}

.flags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

  @media screen and (min-width: 768px) {
    gap: 2rem;
  }
}

.flag {
  height: var(--flag-height);
  width: var(--flag-width);
  overflow: hidden;
  position: relative;
}

.czech-republic-flag {
  display: flex;
  flex-direction: column;

  .stripe {
    flex: 1;
  }

  .white {
    background-color: rgb(255, 255, 255);
  }

  .red {
    background-color: rgb(215, 20, 26);
  }

  .blue {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    border-top: calc(var(--flag-height) / 2) solid transparent;
    border-bottom: calc(var(--flag-height) / 2) solid transparent;
    border-left: calc(var(--flag-width) / 2) solid rgb(17, 69, 126);
  }
}

.bahamas-flag {
  display: flex;
  flex-direction: column;

  .stripe {
    flex: 1;
  }

  .blue {
    background-color: rgb(0, 169, 206);
  }

  .yellow {
    background-color: rgb(255, 199, 44);
  }

  .black {
    position: absolute;
    left: 0;
    top: 0;
    border-top: calc(var(--flag-height) / 2) solid transparent;
    border-bottom: calc(var(--flag-height) / 2) solid transparent;
    border-left: calc(var(--flag-width) / 2.2) solid rgb(0, 0, 0);
  }
}

.scottish-flag {
  background-color: rgb(1, 33, 105);

  .beam {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 15%;
    width: 120%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .top-left-to-bottom-right {
    rotate: 33.7deg;
  }

  .bottom-left-to-top-right {
    rotate: -33.7deg;
  }
}

.british-flag {
  position: relative;
  background-color: rgb(1, 33, 105);

  .red {
    background-color: rgb(200, 16, 46);
  }

  .white {
    background-color: rgb(255, 255, 255);
  }

  .beam {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .top-left-to-bottom-right {
    rotate: 33.7deg;
  }

  .bottom-left-to-top-right {
    rotate: -33.7deg;
  }

  .andreas-cross {
    .white-diagonal {
      height: 15%;
      width: 120%;
    }
  }

  .red-diagonal {
    .red-diagonal-beam {
      position: absolute;
      height: 5%;
      width: 90%;
    }

    .top-left-to-center {
      left: 0;
      top: 0;
      translate: -46% 50%;
      rotate: 33.7deg;
    }

    .top-right-to-center {
      right: 0;
      top: 0;
      translate: 43% 50%;
      rotate: -33.7deg;
    }

    .bottom-right-to-center {
      bottom: 0;
      right: 0;
      translate: 46% -50%;
      rotate: 33.7deg;
    }

    .bottom-left-to-center {
      bottom: 0;
      left: 0;
      translate: -43% -50%;
      rotate: -33.7deg;
    }
  }

  .white-cross {
    .horizontal {
      height: 25%;
      width: 100%;
    }

    .vertical {
      height: 100%;
      width: calc(var(--flag-height) / 4);
    }
  }

  .red-cross {
    .horizontal {
      height: 15%;
      width: 100%;
    }

    .vertical {
      height: 100%;
      width: calc(var(--flag-height) * 3 / 20);
    }
  }
}
