:root {
  --flag-height: 7rem;

  --flag-width: calc(var(--flag-height) * 1.5);
  --flag-width-bahamas: calc(var(--flag-height) * 2);
  --flag-width-jamaica: calc(var(--flag-height) * 2);
  --flag-width-palau: calc(var(--flag-height) * 1.6);
  --flag-width-sweden: calc(var(--flag-height) * 1.6);
  --flag-width-switzerland: var(--flag-height);
  --flag-width-seychelles: calc(var(--flag-height) * 2);

  /* Niederlande */
  --color-netherlands-red: rgb(174, 28, 40);
  --color-netherlands-white: rgb(255, 255, 255);
  --color-netherlands-blue: rgb(33, 70, 139);

  /* Italien */
  --color-italy-green: rgb(0, 140, 69);
  --color-italy-white: rgb(244, 245, 240);
  --color-italy-red: rgb(205, 33, 42);

  /* Mauritius */
  --color-mauritius-red: rgb(208, 28, 31);
  --color-mauritius-blue: rgb(45, 51, 89);
  --color-mauritius-yellow: rgb(247, 183, 24);
  --color-mauritius-green: rgb(0, 134, 88);

  /* Benin */
  --color-benin-green: rgb(0, 136, 86);
  --color-benin-yellow: rgb(252, 209, 22);
  --color-benin-red: rgb(227, 28, 35);

  /* Schweden */
  --color-sweden-blue: rgb(0, 106, 167);
  --color-sweden-yellow: rgb(254, 204, 0);

  /* Schweiz */
  --color-switzerland-red: rgb(218, 41, 28);
  --color-switzerland-white: rgb(255, 255, 255);

  /* Seychellen */
  --color-seychelles-blue: rgb(0, 63, 135);
  --color-seychelles-yellow: rgb(252, 209, 22);
  --color-seychelles-red: rgb(212, 28, 48);
  --color-seychelles-white: rgb(255, 255, 255);
  --color-seychelles-green: rgb(0, 122, 61);

  /* Japan */
  --color-japan-white: rgb(255, 255, 255);
  --color-japan-red: rgb(188, 0, 45);

  /* Palau */
  --color-palau-blue: rgb(74, 172, 238);
  --color-palau-yellow: rgb(255, 222, 0);

  /* Tschechische Republik */
  --color-czech-republic-blue: rgb(17, 49, 126);
  --color-czech-republic-white: rgb(255, 255, 255);
  --color-czech-republic-red: rgb(215, 20, 26);

  /* Bahamas */
  --color-bahamas-black: rgb(0, 0, 0);
  --color-bahamas-blue: rgb(0, 169, 206);
  --color-bahamas-yellow: rgb(255, 199, 44);

  /* Jamaika */
  --color-jamaica-green: rgb(0, 155, 58);
  --color-jamaica-yellow: rgb(254, 209, 0);
  --color-jamaica-black: rgb(0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.flag {
  position: relative;
  height: var(--flag-height);
  width: var(--flag-width);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.netherlands {
  background-color: var(--color-netherlands-white);

  &::before {
    background-color: var(--color-netherlands-red);
    clip-path: polygon(0% 0%, 0% 33.33%, 100% 33.33%, 100% 0%);
    /* oder besser */
    clip-path: inset(0% 0% 66.67% 0%);
  }

  &::after {
    background-color: var(--color-netherlands-blue);
    clip-path: polygon(0% 66.67%, 0% 100%, 100% 100%, 100% 66.67%);
    /* oder besser */
    clip-path: inset(66.67% 0% 0% 0%);
  }
}

.italy {
  background-color: var(--color-italy-white);

  &::before {
    background-color: var(--color-italy-green);
    clip-path: polygon(0% 0%, 33.33% 0%, 33.33% 100%, 0% 100%);
    /* oder besser */
    clip-path: inset(0% 66.67% 0% 0%);
  }

  &::after {
    background-color: var(--color-italy-red);
    clip-path: polygon(66.67% 0%, 100% 0%, 100% 100%, 66.67% 100%);
    /* oder besser */
    clip-path: inset(0% 0% 0% 66.67%);
  }
}

.mauritius {
  .stripe {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .red {
    background-color: var(--color-mauritius-red);
    clip-path: inset(0% 0% 75% 0%);
  }

  .blue {
    background-color: var(--color-mauritius-blue);
    clip-path: inset(25% 0% 50% 0%);
  }

  .yellow {
    background-color: var(--color-mauritius-yellow);
    clip-path: inset(50% 0% 25% 0%);
  }

  .green {
    background-color: var(--color-mauritius-green);
    clip-path: inset(75% 0% 0% 0%);
  }
}

.benin {
  background-color: var(--color-benin-green);

  &::before {
    background-color: var(--color-benin-yellow);
    clip-path: polygon(40% 0%, 100% 0%, 100% 50%, 40% 50%);
    /* oder besser */
    clip-path: inset(0% 0% 50% 40%);
  }

  &::after {
    background-color: var(--color-benin-red);
    clip-path: polygon(40% 50%, 100% 50%, 100% 100%, 40% 100%);
    /* oder besser */
    clip-path: inset(50% 0% 0% 40%);
  }
}

.sweden {
  background-color: var(--color-sweden-blue);
  width: var(--flag-width-sweden);

  &::before {
    background-color: var(--color-sweden-yellow);
    clip-path: polygon(0% 40%, 100% 40%, 100% 60%, 0% 60%);
    /* oder besser */
    clip-path: inset(40% 0% 40% 0%);
  }

  &::after {
    background-color: var(--color-sweden-yellow);
    clip-path: polygon(31.25% 0%, 43.75% 0%, 43.75% 100%, 31.25% 100%);
    /* oder besser */
    clip-path: inset(0% 56.25% 0% 31.25%);
  }
}

.switzerland {
  background-color: var(--color-switzerland-red);
  width: var(--flag-width-switzerland);

  /* Hier sind drei unterschiedliche Lösungen gezeigt.
  Die folgende ist die am wenigsten elegante.
  Das Kreuz ist wird als Polygon herausgeschnitten. */
  &::before {
    background-color: var(--color-switzerland-white);
    clip-path: polygon(
      18.75% 40.625%,
      40.625% 40.625%,
      40.625% 18.75%,
      59.375% 18.75%,
      59.375% 40.625%,
      81.25% 40.625%,
      81.25% 59.375%,
      59.375% 59.375%,
      59.375% 81.25%,
      40.625% 81.25%,
      40.625% 59.375%,
      18.75% 59.375%
    );
  }

  /* Hier werden zwei Balken als Polygone herausgeschnitten. Diese Lösung ist einfacher und eleganter. */
  &::before {
    background-color: var(--color-switzerland-white);
    clip-path: polygon(
      18.75% 40.625%,
      81.25% 40.625%,
      81.25% 59.375%,
      18.75% 59.375%
    );
  }

  &::after {
    background-color: var(--color-switzerland-white);
    clip-path: polygon(
      40.625% 18.75%,
      59.375% 18.75%,
      59.375% 81.25%,
      40.625% 81.25%
    );
  }

  /* Hier wird statt polygon inset genutzt.
  Diese Lösung ist die eleganteste der drei vorgestellten Lösungen. */
  &::before {
    background-color: var(--color-switzerland-white);
    clip-path: inset(18.75% 40.625% 18.75% 40.625%);
  }

  &::after {
    background-color: var(--color-switzerland-white);
    clip-path: inset(40.625% 18.75% 40.625% 18.75%);
  }
}

.seychelles {
  width: var(--flag-width-seychelles);

  .stripe {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .blue {
    background-color: var(--color-seychelles-blue);
    clip-path: polygon(0% 0%, 33.33% 0%, 0% 100%);
  }

  .yellow {
    background-color: var(--color-seychelles-yellow);
    clip-path: polygon(33.3% 0%, 66.7% 0%, 0% 100%);
  }

  .red {
    background-color: var(--color-seychelles-red);
    clip-path: polygon(66.7% 0%, 100% 0%, 100% 33.33%, 0% 100%);
  }

  .white {
    background-color: var(--color-seychelles-white);
    clip-path: polygon(100% 33.33%, 100% 66.67%, 0% 100%);
  }

  .green {
    background-color: var(--color-seychelles-green);
    clip-path: polygon(100% 66.67%, 100% 100%, 0% 100%);
  }
}

.japan {
  background-color: var(--color-japan-white);

  &::before {
    background-color: var(--color-japan-red);
    clip-path: circle(calc(var(--flag-height) * 3 / 10));
  }
}

.palau {
  background-color: var(--color-palau-blue);
  width: var(--flag-width-palau);

  &::before {
    background-color: var(--color-palau-yellow);
    clip-path: circle(calc(var(--flag-height) * 3 / 10) at 37.5% 50%);
  }
}

.czech-republic {
  background-color: var(--color-czech-republic-white);

  &::before {
    background-color: var(--color-czech-republic-red);
    clip-path: inset(50% 0 0 0);
  }

  &::after {
    background-color: var(--color-czech-republic-blue);
    clip-path: polygon(0% 0%, 50% 50%, 0% 100%);
  }
}

.bahamas {
  background-color: var(--color-bahamas-blue);
  width: var(--flag-width-bahamas);

  &::before {
    background-color: var(--color-bahamas-yellow);
    clip-path: inset(33.33% 0% 33.33% 0%);
  }

  &::after {
    background-color: var(--color-bahamas-black);
    clip-path: polygon(0% 0%, 45.45% 50%, 0% 100%);
  }
}

.jamaica {
  background-color: var(--color-jamaica-yellow);
  width: var(--flag-width-jamaica);

  &::before {
    background-color: var(--color-jamaica-black);
    clip-path: polygon(
      0 10%,
      40% 50%,
      0 90%,
      0 10%,
      100% 10%,
      100% 90%,
      60% 50%,
      100% 10%
    );
  }

  &::after {
    background-color: var(--color-jamaica-green);
    clip-path: polygon(
      10% 0,
      50% 40%,
      90% 0,
      10% 0,
      10% 100%,
      90% 100%,
      50% 60%,
      10% 100%
    );
  }
}
