:root {
  --flag-height: 4rem;

  @media screen and (min-width: 40rem) {
    --flag-height: 5.5rem;
  }
  --flag-width-bahamas: calc(var(--flag-height) * 2);
  --flag-width-czech-republic: calc(var(--flag-height) * 1.5);

  /* Tschechische Republik */
  --color-czech-republic-blue: rgb(17, 49, 126);
  --color-czech-republic-white: rgb(255, 255, 255);
  --color-czech-republic-red: rgb(215, 20, 26);

  /* Bahamas */
  --color-bahamas-black: rgb(0, 0, 0);
  --color-bahamas-blue: rgb(0, 169, 206);
  --color-bahamas-yellow: rgb(255, 199, 44);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.flag {
  position: relative;
  height: var(--flag-height);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
  }
}

.czech-republic {
  width: var(--flag-width-czech-republic);

  background-image: linear-gradient(
    var(--color-czech-republic-white) 50%,
    var(--color-czech-republic-red) 0
  );
}

.czech-republic.border::after {
  border-top: calc(var(--flag-height) / 2) solid transparent;
  border-bottom: calc(var(--flag-height) / 2) solid transparent;
  border-left: calc(var(--flag-width-czech-republic) / 2) solid
    var(--color-czech-republic-blue);
}

.czech-republic.clip-path::after {
  height: 100%;
  width: 50%;
  background-color: var(--color-czech-republic-blue);
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.czech-republic.gradient {
  background-image:
    conic-gradient(
      transparent 236deg,
      var(--color-czech-republic-blue) 237deg 303deg,
      transparent 304deg
    ),
    linear-gradient(
      var(--color-czech-republic-white) 50%,
      var(--color-czech-republic-red) 0
    );
}

.bahamas {
  width: var(--flag-width-bahamas);

  background-image: linear-gradient(
    var(--color-bahamas-blue) 33.33%,
    var(--color-bahamas-yellow) 0 66.67%,
    var(--color-bahamas-blue) 0
  );
}

.bahamas.border::after {
  border-bottom: calc(var(--flag-height) / 2) solid transparent;
  border-left: calc(var(--flag-width-bahamas) / 2.2) solid
    var(--color-bahamas-black);
  border-top: calc(var(--flag-height) / 2) solid transparent;
}

.bahamas.clip-path::after {
  height: 100%;
  width: 45.45%;
  background-color: var(--color-bahamas-black);
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.bahamas.gradient {
  background-image:
    conic-gradient(
      at 45.45% 50%,
      transparent 241deg,
      var(--color-bahamas-black) 242deg 298deg,
      transparent 299deg 360deg
    ),
    linear-gradient(
      var(--color-bahamas-blue) 33.33%,
      var(--color-bahamas-yellow) 0 66.67%,
      var(--color-bahamas-blue) 0
    );
}
