.netherlands {
  transition: box-shadow 300ms;

  &:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
  }
}

.bahamas {
  transition: box-shadow 300ms;

  &:hover {
    box-shadow: none;
  }
}

.trinidad-and-tobago {
  transition: translate 300ms;

  &:hover {
    translate: 0 -5px;
  }
}

.thailand {
  transition: translate 300ms;

  &:hover {
    translate: 5px 0;
  }
}

.benin {
  transition: scale 300ms;

  &:hover {
    scale: 1.1;
  }
}

.sweden {
  transition: scale 300ms;

  &:hover {
    scale: 0.9;
  }
}

/* noch korrigieren */
.japan {
  transition: scale 300ms;
  overflow: hidden;

  &:hover {
    scale: 1.1;
  }
}

.palau {
  transition: rotate 300ms;

  &:hover {
    rotate: 5deg;
  }
}

.switzerland {
  transition: rotate 300ms;

  &:hover {
    rotate: -5deg;
  }
}

.czech-republic {
  transition: rotate 300ms;

  &:hover {
    rotate: 365deg;
  }
}

.italy {
  transition: width 300ms;

  &:hover {
    width: 12rem;
  }
}

.mauritius {
  transition: width 300ms;

  &:hover {
    width: 9rem;
  }
}

.scotland {
  transition: opacity 300ms;

  &:hover {
    opacity: 0.5;
  }
}

.jamaica {
  transition: filter 300ms;

  &:hover {
    filter: sepia(100%);
  }
}

.seychelles {
  transition: filter 300ms;

  &:hover {
    filter: grayscale(100%);
  }
}

.north-macedonia {
  transition: filter 300ms;

  &:hover {
    filter: blur(0.1rem);
  }
}
