:root {
  --flag-height: 7rem;
  --flag-width: calc(var(--flag-height) * 1.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem;

  @media screen and (min-width: 768px) {
    gap: 2rem;
    padding: 1.5rem;
  }
}

h1 {
  padding: 1rem 0;
  font-weight: 500;
}

.flags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

  @media screen and (min-width: 768px) {
    gap: 2rem;
  }
}

.flag {
  height: var(--flag-height);
  width: var(--flag-width);
}

.dutch-flag {
  /* Ausführliche Schreibweise */
  background-image: linear-gradient(
    rgb(174, 28, 40) 0%,
    rgb(174, 28, 40) 33.33%,
    rgb(255, 255, 255) 33.33%,
    rgb(255, 255, 255) 66.67%,
    rgb(33, 70, 139) 66.67%,
    rgb(33, 70, 139) 100%
  );

  /* Kurzschreibweise */
  background-image: linear-gradient(
    rgb(174, 28, 40) 33.33%,
    rgb(255, 255, 255) 0 66.67%,
    rgb(33, 70, 139) 0
  );
}

.italian-flag {
  /* Ausführliche Schreibweise */
  background-image: linear-gradient(
    90deg,
    rgb(0, 140, 69) 0%,
    rgb(0, 140, 69) 33.33%,
    rgb(244, 245, 240) 33.33%,
    rgb(244, 245, 240) 66.67%,
    rgb(205, 33, 42) 66.67%,
    rgb(205, 33, 42) 100%
  );

  /* Kurzschreibweise */
  background-image: linear-gradient(
    90deg,
    rgb(0, 140, 69) 33.33%,
    rgb(244, 245, 240) 0 66.67%,
    rgb(205, 33, 42) 0
  );
}

.mauritius-flag {
  /* ausführliche Schreibweise */
  background-image: linear-gradient(
    rgb(208, 28, 31) 0%,
    rgb(208, 28, 31) 25%,
    rgb(45, 51, 89) 25%,
    rgb(45, 51, 89) 50%,
    rgb(247, 183, 24) 50%,
    rgb(247, 183, 24) 75%,
    rgb(0, 134, 88) 75%,
    rgb(0, 134, 88) 100%
  );

  /* Kurzschreibweise */
  background-image: linear-gradient(
    rgb(208, 28, 31) 25%,
    rgb(45, 51, 89) 0 50%,
    rgb(247, 183, 24) 0 75%,
    rgb(0, 134, 88) 0
  );
}

.japanese-flag {
  /* Ausführliche Schreibweise */
  background-image: radial-gradient(
    circle,
    rgb(188, 0, 45) 0%,
    rgb(188, 0, 45) 34%,
    rgb(255, 255, 255) 35%,
    rgb(255, 255, 255) 100%
  );

  /* Kurzschreibweise */
  background-image: radial-gradient(
    circle,
    rgb(188, 0, 45) 34%,
    rgb(255, 255, 255) 35%
  );
}

.benin-flag {
  /* Ausführliche Schreibweise */
  background-image: linear-gradient(
      90deg,
      rgb(0, 136, 86) 0%,
      rgb(0, 136, 86) 40%,
      transparent 40%,
      transparent 100%
    ),
    linear-gradient(
      rgb(252, 209, 22) 0%,
      rgb(252, 209, 22) 50%,
      rgb(227, 28, 35) 50%,
      rgb(227, 28, 35) 100%
    );

  /* Kurzschreibweise */
  background-image: linear-gradient(90deg, rgb(0, 136, 86) 40%, transparent 0),
    linear-gradient(rgb(252, 209, 22) 50%, rgb(227, 28, 35) 0);
}

.swedish-flag {
  background-color: rgb(0, 106, 167);

  /* Ausführliche Schreibweise */
  background-image: linear-gradient(
      transparent 0%,
      transparent 40%,
      rgb(254, 204, 0) 40%,
      rgb(254, 204, 0) 60%,
      transparent 60%,
      transparent 100%
    ),
    linear-gradient(
      90deg,
      transparent 0%,
      transparent 31%,
      rgb(254, 204, 0) 31%,
      rgb(254, 204, 0) 44%,
      transparent 44%,
      transparent 100%
    );

  /* Kurzschreibweise */
  background-image: linear-gradient(
      transparent 40%,
      rgb(254, 204, 0) 0 60%,
      transparent 0
    ),
    linear-gradient(
      90deg,
      transparent 31%,
      rgb(254, 204, 0) 0 44%,
      transparent 0
    );

  /* Hinweis: Das Verhältnis der Seitenlängen ist offiziell 10:16 und nicht 2:3 */
}

.swiss-flag {
  background-color: rgb(218, 41, 28);

  background-image: linear-gradient(
      90deg,
      transparent 35%,
      rgb(255, 255, 255) 0 65%,
      transparent 0
    ),
    linear-gradient(transparent 35%, rgb(255, 255, 255) 0 65%, transparent 0);

  background-size: 41.67% 62.5%;
  background-repeat: no-repeat;
  background-position: center;
}
