:root {
  --flag-height: 7rem;
  --flag-width: calc(var(--flag-height) * 1.5);

  /* Niederlande */
  --color-netherlands-red: rgb(173, 29, 37);
  --color-netherlands-white: rgb(255, 255, 255);
  --color-netherlands-blue: rgb(30, 71, 133);

  /* Italien */
  --color-italy-green: rgb(0, 140, 69);
  --color-italy-white: rgb(244, 245, 240);
  --color-italy-red: rgb(205, 33, 42);

  /* Mauritius */
  --color-mauritius-red: rgb(208, 28, 31);
  --color-mauritius-blue: rgb(45, 51, 89);
  --color-mauritius-yellow: rgb(247, 183, 24);
  --color-mauritius-green: rgb(0, 134, 88);

  /* Thailand */
  --color-thailand-red: rgb(165, 25, 49);
  --color-thailand-blue: rgb(45, 42, 74);
  --color-thailand-white: rgb(244, 245, 248);

  /* Benin */
  --color-benin-green: rgb(0, 136, 80);
  --color-benin-yellow: rgb(252, 210, 15);
  --color-benin-red: rgb(233, 9, 41);
}

* {
  box-sizing: border-box;
}

.flag {
  height: var(--flag-height);
  width: var(--flag-width);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 0;
}

.netherlands {
  .stripe {
    height: calc(var(--flag-height) / 3);
    width: 100%;
  }

  .red {
    background-color: var(--color-netherlands-red);
  }

  .white {
    background-color: var(--color-netherlands-white);
  }

  .blue {
    background-color: var(--color-netherlands-blue);
  }
}

.italy {
  .stripe {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: calc(var(--flag-width) / 3);
  }

  .green {
    background-color: var(--color-italy-green);
  }

  .white {
    background-color: var(--color-italy-white);
  }

  .red {
    background-color: var(--color-italy-red);
  }
}

.mauritius {
  .stripe {
    width: 100%;
    height: 25%;
  }

  .red {
    background-color: var(--color-mauritius-red);
  }

  .blue {
    background-color: var(--color-mauritius-blue);
  }

  .yellow {
    background-color: var(--color-mauritius-yellow);
  }

  .green {
    background-color: var(--color-mauritius-green);
  }
}

.thailand {
  .stripe {
    width: 100%;
    height: 16.67%;
  }

  .red {
    background-color: var(--color-thailand-red);
  }

  .white {
    background-color: var(--color-thailand-white);
  }

  .blue {
    background-color: var(--color-thailand-blue);
    height: 33.33%;
  }
}

.benin {
  .green {
    display: inline-block;
    background-color: var(--color-benin-green);
    width: 40%;
    height: 100%;
    vertical-align: top;
  }

  .horizontal-stripes-container {
    width: 60%;
    height: 100%;
    display: inline-block;
    vertical-align: top;

    .stripe {
      width: 100%;
      height: 50%;
    }

    .yellow {
      background-color: var(--color-benin-yellow);
    }

    .red {
      background-color: var(--color-benin-red);
    }
  }
}
