* {
  box-sizing: border-box;
}

.flag {
  height: 7rem;
  width: 10.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.netherlands {
}

.italy {
}

.mauritius {
}

.benin {
}

.japan {
}

.switzerland {
}
