:root {
  --flag-height: 7rem;
  --flag-width: calc(var(--flag-height) * 1.5);
  --flag-width-switzerland: calc(var(--flag-height));

  /* Niederlande */
  --color-netherlands-red: rgb(173, 29, 37);
  --color-netherlands-white: rgb(255, 255, 255);
  --color-netherlands-blue: rgb(30, 71, 133);

  /* Italien */
  --color-italy-green: rgb(0, 140, 69);
  --color-italy-white: rgb(244, 245, 240);
  --color-italy-red: rgb(205, 33, 42);

  /* Mauritius */
  --color-mauritius-red: rgb(208, 28, 31);
  --color-mauritius-blue: rgb(45, 51, 89);
  --color-mauritius-yellow: rgb(247, 183, 24);
  --color-mauritius-green: rgb(0, 134, 88);

  /* Thailand */
  --color-thailand-red: rgb(165, 25, 49);
  --color-thailand-blue: rgb(45, 42, 74);
  --color-thailand-white: rgb(244, 245, 248);

  /* Benin */
  --color-benin-green: rgb(0, 136, 80);
  --color-benin-yellow: rgb(252, 210, 15);
  --color-benin-red: rgb(233, 9, 41);

  /* Japan */
  --color-japan-white: rgb(255, 255, 255);
  --color-japan-red: rgb(188, 0, 45);

  /* Schweiz */
  --color-switzerland-red: rgb(255, 0, 0);
  --color-switzerland-white: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(200, 200, 200);
}

.flag {
  display: flex;

  height: var(--flag-height);
  width: var(--flag-width);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.netherlands {
  flex-direction: column;

  .stripe {
    flex: 1;
  }

  .red {
    background-color: var(--color-netherlands-red);
  }

  .white {
    background-color: var(--color-netherlands-white);
  }

  .blue {
    background-color: var(--color-netherlands-blue);
  }
}

.italy {
  flex-direction: row;

  .stripe {
    flex: 1;
  }

  .green {
    background-color: var(--color-italy-green);
  }

  .white {
    background-color: var(--color-italy-white);
  }

  .red {
    background-color: var(--color-italy-red);
  }
}

.mauritius {
  flex-direction: column;

  .stripe {
    flex: 1;
  }

  .red {
    background-color: var(--color-mauritius-red);
  }

  .blue {
    background-color: var(--color-mauritius-blue);
  }

  .yellow {
    background-color: var(--color-mauritius-yellow);
  }

  .green {
    background-color: var(--color-mauritius-green);
  }
}

.thailand {
  background-color: var(--color-thailand-white);
  flex-direction: column;
  gap: calc(var(--flag-height) / 6);

  .stripe {
    width: 100%;
  }

  .red {
    background-color: var(--color-thailand-red);
    flex: 1;
  }

  .blue {
    background-color: var(--color-thailand-blue);
    flex: 2;
  }
}

.benin {
  flex-direction: row;

  .green {
    flex: 2;
    background-color: var(--color-benin-green);
  }

  .horizontal-stripes-container {
    display: flex;
    flex-direction: column;
    flex: 3;

    .stripe {
      flex: 1;
    }

    .yellow {
      background-color: var(--color-benin-yellow);
    }

    .red {
      background-color: var(--color-benin-red);
    }
  }
}

.japan {
  background-color: var(--color-japan-white);
  justify-content: center;
  align-items: center;

  .circle {
    background-color: var(--color-japan-red);
    height: 60%;

    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}

.switzerland {
  background-color: var(--color-switzerland-red);
  flex-direction: column;
  align-items: center;
  width: var(--flag-width-switzerland);

  .spacer {
    background-color: transparent;
    flex: 6;
  }

  .horizontal,
  .vertical {
    background-color: var(--color-switzerland-white);
  }

  .horizontal {
    width: calc(var(--flag-height) * 20 / 32);
    flex: 6;
  }

  .vertical {
    width: calc(var(--flag-height) * 6 / 32);
    flex: 7;
  }
}
