:root {
  --flag-height: 7rem;
  --flag-width: calc(var(--flag-height) * 1.5);

  /* Jamaika */
  --color-jamaica-green: rgb(0, 155, 58);
  --color-jamaica-yellow: rgb(254, 209, 0);
  --color-jamaica-black: rgb(0, 0, 0);

  /* Grönland */
  --color-greenland-red: rgb(208, 12, 51);
  --color-greenland-white: rgb(255, 255, 255);

  /* Groß-Brittanien */
  --color-great-britain-blue: rgb(1, 33, 105);
  --color-great-britain-red: rgb(200, 16, 46);
  --color-great-britain-white: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.flag {
  position: relative;
  height: var(--flag-height);
  width: var(--flag-width);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.jamaica {
  /* komplett mit Gradienten lösen !!!! */

  /* position: relative;

  border-left: calc((var(--flag-width) / 2)) solid var(--color-jamaica-black);
  border-right: calc(var(--flag-width) / 2) solid var(--color-jamaica-black);
  border-top: calc(var(--flag-height) / 2) solid var(--color-jamaica-green);
  border-bottom: calc(var(--flag-height) / 2) solid var(--color-jamaica-green);

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: calc(var(--flag-height) * 0.16);
    width: calc(var(--flag-width) * 1.2);
    top: 50%;
    left: -10%;
    translate: -50% -50%;
    background-color: var(--color-jamaica-yellow);
  }

  &::before {
    rotate: 33.7deg;
  }

  &::after {
    rotate: -33.7deg;
  } */

  position: relative;
  overflow: hidden;

  background-image: conic-gradient(
    var(--color-jamaica-green) 56deg,
    var(--color-jamaica-black) 0 124deg,
    var(--color-jamaica-green) 0 236deg,
    var(--color-jamaica-black) 0 304deg,
    var(--color-jamaica-green) 0
  );

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 16%;
    width: 120%;
    top: 50%;
    left: -10%;
    translate: 0 -50%;
    background-color: var(--color-jamaica-yellow);
  }

  &::before {
    rotate: 33.7deg;
  }

  &::after {
    rotate: -33.7deg;
  }
}

.greenland {
  position: relative;
  background-image: linear-gradient(
    var(--color-greenland-white) 50%,
    var(--color-greenland-red) 50%
  );

  &::before {
    content: "";
    position: absolute;
    height: 60%;
    aspect-ratio: 1/1;
    top: 50%;
    left: 37.5%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: linear-gradient(
      var(--color-greenland-red) 50%,
      var(--color-greenland-white) 50%
    );
  }
}

.great-britain {
  position: relative;
  background-color: var(--color-great-britain-blue);
  overflow: hidden;

  .red {
    background-color: var(--color-great-britain-red);
  }

  .white {
    background-color: var(--color-great-britain-white);
  }

  .beam {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .top-left-to-bottom-right {
    rotate: 33.7deg;
  }

  .bottom-left-to-top-right {
    rotate: -33.7deg;
  }

  .andreas-cross {
    .white-diagonal {
      height: 15%;
      width: 120%;
    }
  }

  .red-diagonal {
    .red-diagonal-beam {
      position: absolute;
      height: 5%;
      width: 90%;
    }

    .top-left-to-center {
      left: 0;
      top: 0;
      translate: -46% 50%;
      rotate: 33.7deg;
    }

    .top-right-to-center {
      right: 0;
      top: 0;
      translate: 43% 50%;
      rotate: -33.7deg;
    }

    .bottom-right-to-center {
      bottom: 0;
      right: 0;
      translate: 46% -50%;
      rotate: 33.7deg;
    }

    .bottom-left-to-center {
      bottom: 0;
      left: 0;
      translate: -43% -50%;
      rotate: -33.7deg;
    }
  }

  .white-cross {
    .horizontal {
      height: 25%;
      width: 100%;
    }

    .vertical {
      height: 100%;
      width: calc(var(--flag-height) / 4);
    }
  }

  .red-cross {
    .horizontal {
      height: 15%;
      width: 100%;
    }

    .vertical {
      height: 100%;
      width: calc(var(--flag-height) * 3 / 20);
    }
  }
}

/* .great-britain {
  background-color: var(--color-great-britain-blue);
  overflow: hidden;

  background-image: linear-gradient(
      90deg,
      transparent 44%,
      var(--color-great-britain-red) 44% 56%,
      transparent 56%
    ),
    linear-gradient(
      0deg,
      transparent 41%,
      var(--color-great-britain-red) 41% 59%,
      transparent 59%
    ),
    linear-gradient(
      90deg,
      transparent 40%,
      var(--color-great-britain-white) 40% 60%,
      transparent 60%
    ),
    linear-gradient(
      0deg,
      transparent 35%,
      var(--color-great-britain-white) 35% 65%,
      transparent 65%
    ),
    linear-gradient(
      var(--color-great-britain-blue),
      var(--color-great-britain-blue)
    );
} */

/* .great-britain::before,
.great-britain::after {
  content: "";
  position: absolute;
  width: 140%;
  height: 10%;
  top: 45%;
  left: -20%;
  background: var(--color-great-britain-white);
}
.great-britain::before {
  transform: rotate(33.7deg);
}
.great-britain::after {
  transform: rotate(-33.7deg);
} */
