:root {
  --flag-height: 7rem;
  --flag-width: calc(var(--flag-height) * 1.5);

  /* Jamaika */
  --color-jamaika-green: rgb(0, 155, 58);
  --color-jamaika-yellow: rgb(254, 209, 0);
  --color-jamaika-black: rgb(0, 0, 0);

  /* Grönland */
  --color-greenland-red: rgb(208, 12, 51);
  --color-greenland-white: rgb(255, 255, 255);
}

.flag {
  position: relative;
  height: var(--flag-height);
  width: var(--flag-width);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
  }
}

.jamaika {
  background-color: var(--color-jamaika-yellow);

  .left,
  .top,
  .right,
  .bottom {
    position: absolute;
    scale: 0.8;
  }

  .left,
  .right {
    height: 100%;
    width: 50%;
    top: 0;
    background-color: var(--color-jamaika-black);
  }

  .top,
  .bottom {
    height: 50%;
    width: 100%;
    left: 0;
    background-color: var(--color-jamaika-green);
  }

  .left {
    left: -5%;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  }

  .top {
    top: -5%;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  }

  .right {
    right: -5%;
    clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
  }

  .bottom {
    bottom: -5%;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  }
}

.greenland {
  position: relative;
  background-image: linear-gradient(
    var(--color-greenland-white) 50%,
    var(--color-greenland-red) 50%
  );

  &::before {
    content: "";
    position: absolute;
    height: 60%;
    aspect-ratio: 1/1;
    top: 50%;
    left: 37.5%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: linear-gradient(
      var(--color-greenland-red) 50%,
      var(--color-greenland-white) 50%
    );
  }
}

.great-britain {
  position: relative;
  background-color: rgb(1, 33, 105);
  overflow: hidden;

  .red {
    background-color: rgb(200, 16, 46);
  }

  .white {
    background-color: rgb(255, 255, 255);
  }

  .beam {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .top-left-to-bottom-right {
    rotate: 33.7deg;
  }

  .bottom-left-to-top-right {
    rotate: -33.7deg;
  }

  .andreas-cross {
    .white-diagonal {
      height: 15%;
      width: 120%;
    }
  }

  .red-diagonal {
    .red-diagonal-beam {
      position: absolute;
      height: 5%;
      width: 90%;
    }

    .top-left-to-center {
      left: 0;
      top: 0;
      translate: -46% 50%;
      rotate: 33.7deg;
    }

    .top-right-to-center {
      right: 0;
      top: 0;
      translate: 43% 50%;
      rotate: -33.7deg;
    }

    .bottom-right-to-center {
      bottom: 0;
      right: 0;
      translate: 46% -50%;
      rotate: 33.7deg;
    }

    .bottom-left-to-center {
      bottom: 0;
      left: 0;
      translate: -43% -50%;
      rotate: -33.7deg;
    }
  }

  .white-cross {
    .horizontal {
      height: 25%;
      width: 100%;
    }

    .vertical {
      height: 100%;
      width: calc(var(--flag-height) / 4);
    }
  }

  .red-cross {
    .horizontal {
      height: 15%;
      width: 100%;
    }

    .vertical {
      height: 100%;
      width: calc(var(--flag-height) * 3 / 20);
    }
  }
}

/* .jamaika.border::after {
  background-color: var(--color-jamaika-yellow);

  border-left: calc((var(--flag-width) / 2)) solid var(--color-jamaika-black);
  border-right: calc(var(--flag-width) / 2) solid var(--color-jamaika-black);
  border-top: calc(var(--flag-height) / 2) solid var(--color-jamaika-green);
  border-bottom: calc(var(--flag-height) / 2) solid var(--color-jamaika-green);
} */
