.netherlands {
}

.italy {
}

.mauritius {
}

.thailand {
}

.benin {
}

.sweden {
}

.japan {
}

.palau {
}

.switzerland {
}

.czech-republic {
}

.bahamas {
}

.trinidad-and-tobago {
}

.scotland {
  transition: opacity 300ms;

  &:hover {
    opacity: 0.5;
  }
}

.jamaica {
  transition: filter 300ms;

  &:hover {
    filter: sepia(100%);
  }
}

.seychelles {
  transition: filter 300ms;

  &:hover {
    filter: grayscale(100%);
  }
}

.north-macedonia {
  transition: filter 300ms;

  &:hover {
    filter: blur(0.1rem);
  }
}
