:root {
  --flag-height: 7rem;
  --flag-width: calc(var(--flag-height) * 1.5);
  --flag-width-sweden: calc(var(--flag-height) * 1.6);
  --flag-width-switzerland: calc(var(--flag-height));

  /* Niederlande */
  --color-netherlands-red: rgb(174, 28, 40);
  --color-netherlands-white: rgb(255, 255, 255);
  --color-netherlands-blue: rgb(33, 70, 139);

  /* Italien */
  --color-italy-green: rgb(0, 140, 69);
  --color-italy-white: rgb(244, 245, 240);
  --color-italy-red: rgb(205, 33, 42);

  /* Mauritius */
  --color-mauritius-red: rgb(208, 28, 31);
  --color-mauritius-blue: rgb(45, 51, 89);
  --color-mauritius-yellow: rgb(247, 183, 24);
  --color-mauritius-green: rgb(0, 134, 88);

  /* Thailand */
  --color-thailand-red: rgb(165, 25, 49);
  --color-thailand-blue: rgb(45, 42, 74);
  --color-thailand-white: rgb(255, 255, 255);

  /* Benin */
  --color-benin-green: rgb(0, 136, 86);
  --color-benin-yellow: rgb(252, 209, 22);
  --color-benin-red: rgb(227, 28, 35);

  /* Japan */
  --color-japan-white: rgb(255, 255, 255);
  --color-japan-red: rgb(188, 0, 45);

  /* Palau */
  --color-palau-blue: rgb(74, 172, 238);
  --color-palau-yellow: rgb(255, 222, 0);

  /* Schweiz */
  --color-switzerland-red: rgb(218, 41, 28);
  --color-switzerland-white: rgb(255, 255, 255);

  /* Schweden */
  --color-sweden-blue: rgb(0, 106, 167);
  --color-sweden-yellow: rgb(254, 204, 0);
}

* {
  box-sizing: border-box;
}

.flag {
  position: relative;

  height: var(--flag-height);
  width: var(--flag-width);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.netherlands {
  background-color: var(--color-netherlands-white);

  .stripe {
    position: absolute;
    left: 0;
    height: calc(var(--flag-height) / 3);
    width: 100%;
  }

  .red {
    background-color: var(--color-netherlands-red);
    top: 0;
  }

  .blue {
    background-color: var(--color-netherlands-blue);
    bottom: 0;
  }
}

.italy {
  background-color: var(--color-italy-white);

  .stripe {
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(var(--flag-width) / 3);
  }

  .green {
    background-color: var(--color-italy-green);
    left: 0;
  }

  .red {
    background-color: var(--color-italy-red);
    right: 0;
  }
}

.mauritius {
  .stripe {
    position: absolute;
    left: 0;
    height: calc(var(--flag-height) / 4);
    width: 100%;
  }

  .red {
    background-color: var(--color-mauritius-red);
    top: 0;
  }

  .blue {
    background-color: var(--color-mauritius-blue);
    top: 25%;
  }

  .yellow {
    background-color: var(--color-mauritius-yellow);
    top: 50%;
  }

  .green {
    background-color: var(--color-mauritius-green);
    bottom: 0;
  }
}

.thailand {
  .stripe {
    position: absolute;
    height: 16.67%;
    width: 100%;
  }

  .red.top {
    background-color: var(--color-thailand-red);
    top: 0;
  }

  .white.top {
    background-color: var(--color-thailand-white);
    top: 16.67%;
  }

  .blue {
    background-color: var(--color-thailand-blue);
    height: 33.33%;
    top: 50%;
    translate: 0 -50%;
  }

  .white.bottom {
    background-color: var(--color-thailand-white);
    bottom: 16.67%;
  }

  .red.bottom {
    background-color: var(--color-thailand-red);
    bottom: 0;
  }
}

.japan {
  background-color: var(--color-japan-white);

  .red-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-color: var(--color-japan-red);
    height: calc(var(--flag-height) * 3 / 5);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }
}

.palau {
  background-color: var(--color-palau-blue);

  .yellow-circle {
    position: absolute;
    top: 50%;
    left: 37.5%;
    translate: -50% -50%;
    background-color: var(--color-palau-yellow);
    border-radius: 50%;
    height: calc(var(--flag-height) * 3 / 5);
    aspect-ratio: 1/1;
  }
}

.benin {
  .green {
    height: 100%;
    width: 40%;
    background-color: var(--color-benin-green);
  }

  .yellow,
  .red {
    position: absolute;
    right: 0;
    width: 60%;
    height: 50%;
  }

  .yellow {
    top: 0;
    background-color: var(--color-benin-yellow);
  }

  .red {
    bottom: 0;
    background-color: var(--color-benin-red);
  }
}

.switzerland {
  background-color: var(--color-switzerland-red);
  width: var(--flag-width-switzerland);

  .horizontal,
  .vertical {
    background-color: var(--color-switzerland-white);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .horizontal {
    width: 62.5%;
    height: 18.75%;
  }

  .vertical {
    width: 18.75%;
    height: 62.5%;
  }
}

.sweden {
  background-color: var(--color-sweden-blue);
  width: var(--flag-width-sweden);

  .horizontal-beam,
  .vertical-beam {
    position: absolute;
    background-color: var(--color-sweden-yellow);
  }

  .horizontal-beam {
    height: 20%;
    width: 100%;
    top: 40%;
  }

  .vertical-beam {
    height: 100%;
    width: 12.5%;
    left: 37.5%;
    translate: -50% 0;
  }
}
