:root {
  --flag-height: 7rem;
  --flag-width: calc(var(--flag-height) * 1.5);
}

body {
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem;

  @media screen and (min-width: 768px) {
    gap: 2rem;
    padding: 1.5rem;
  }
}

.flags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

  @media screen and (min-width: 768px) {
    gap: 2rem;
  }
}

.flag {
  height: var(--flag-height);
  width: var(--flag-width);
  display: flex;
  overflow: hidden;
  background-color: black;
}

.dutch-flag {
  flex-direction: column;

  .stripe {
    flex: 1;
  }

  .red {
    background-color: rgb(174, 28, 40);
  }

  .white {
    background-color: rgb(255, 255, 255);
  }

  .blue {
    background-color: rgb(33, 70, 139);
  }
}

.italian-flag {
  flex-direction: row;

  .stripe {
    flex: 1;
  }

  .green {
    background-color: rgb(0, 140, 69);
  }

  .white {
    background-color: rgb(244, 245, 240);
  }

  .red {
    background-color: rgb(205, 33, 42);
  }
}

.mauritius-flag {
  flex-direction: column;

  .stripe {
    flex: 1;
  }

  .red {
    background-color: rgb(208, 28, 31);
  }

  .blue {
    background-color: rgb(45, 51, 89);
  }

  .yellow {
    background-color: rgb(247, 183, 24);
  }

  .green {
    background-color: rgb(0, 134, 88);
  }
}

.benin-flag {
  flex-direction: row;

  .green {
    flex: 2;
    background-color: rgb(0, 136, 86);
  }

  .horizontal-stripes-container {
    display: flex;
    flex-direction: column;
    flex: 3;

    .stripe {
      flex: 1;
    }

    .yellow {
      background-color: rgb(252, 209, 22);
    }

    .red {
      background-color: rgb(227, 28, 35);
    }
  }
}

.japanese-flag {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;

  .circle {
    background-color: rgb(188, 0, 45);
    height: 60%;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}

.swiss-flag {
  background-color: rgb(218, 41, 28);
  flex-direction: column;
  align-items: center;

  .spacer {
    background-color: transparent;
    flex: 6;
  }

  .horizontal,
  .vertical {
    background-color: rgb(255, 255, 255);
  }

  .horizontal {
    width: calc(var(--flag-height) * 20 / 32);
    flex: 6;
  }

  .vertical {
    width: calc(var(--flag-height) * 6 / 32);
    flex: 7;
  }

  /* Hinweis: Nur auf Schiffen wird eine Flagge mit einem Seitenverhältnis von 2:3 verwendet.
  Ansonsten weist sie ein Seitenverhältnis von 1:1 auf. */
}
