:root {
  --flag-height: 7rem;
  --flag-width: calc(var(--flag-height) * 1.5);
  --flag-width-bahamas: calc(var(--flag-height) * 2);
  --flag-width-north-macedonia: calc(var(--flag-height) * 2);
  --flag-width-palau: calc(var(--flag-height) * 8 / 5);
  --flag-width-seychelles: calc(var(--flag-height) * 2);
  --flag-width-sweden: calc(var(--flag-height) * 1.6);
  --flag-width-switzerland: calc(var(--flag-height));

  /* Niederlande */
  --color-netherlands-red: rgb(174, 28, 40);
  --color-netherlands-white: rgb(255, 255, 255);
  --color-netherlands-blue: rgb(33, 70, 139);

  /* Italien */
  --color-italy-green: rgb(0, 140, 69);
  --color-italy-white: rgb(244, 245, 240);
  --color-italy-red: rgb(205, 33, 42);

  /* Mauritius */
  --color-mauritius-red: rgb(208, 28, 31);
  --color-mauritius-blue: rgb(45, 51, 89);
  --color-mauritius-yellow: rgb(247, 183, 24);
  --color-mauritius-green: rgb(0, 134, 88);

  /* Thailand */
  --color-thailand-red: rgb(165, 25, 49);
  --color-thailand-blue: rgb(45, 42, 74);
  --color-thailand-white: rgb(255, 255, 255);

  /* Benin */
  --color-benin-green: rgb(0, 136, 86);
  --color-benin-yellow: rgb(252, 209, 22);
  --color-benin-red: rgb(227, 28, 35);

  /* Japan */
  --color-japan-white: rgb(255, 255, 255);
  --color-japan-red: rgb(188, 0, 45);

  /* Palau */
  --color-palau-blue: rgb(74, 172, 238);
  --color-palau-yellow: rgb(255, 222, 0);

  /* Schweiz */
  --color-switzerland-red: rgb(218, 41, 28);
  --color-switzerland-white: rgb(255, 255, 255);

  /* Schweden */
  --color-sweden-blue: rgb(0, 106, 167);
  --color-sweden-yellow: rgb(254, 204, 0);

  /* Tschechische Republic */
  --color-czech-republic-blue: rgb(17, 49, 126);
  --color-czech-republic-white: rgb(255, 255, 255);
  --color-czech-republic-red: rgb(215, 20, 26);

  /* Bahamas */
  --color-bahamas-black: rgb(0, 0, 0);
  --color-bahamas-blue: rgb(0, 169, 206);
  --color-bahamas-yellow: rgb(255, 199, 44);

  /* Seychellen */
  --color-seychelles-blue: rgb(0, 63, 135);
  --color-seychelles-yellow: rgb(252, 209, 22);
  --color-seychelles-red: rgb(212, 28, 48);
  --color-seychelles-white: rgb(255, 255, 255);
  --color-seychelles-green: rgb(0, 122, 61);

  /* Nordmazedonien */
  --color-north-macedonia-red: rgb(210, 0, 0);
  --color-north-macedonia-yellow: rgb(255, 230, 0);
}

* {
  box-sizing: border-box;
}

.flag {
  height: var(--flag-height);
  width: var(--flag-width);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.netherlands {
  /* Ausführliche Schreibweise */
  background-image: linear-gradient(
    var(--color-netherlands-red) 0%,
    var(--color-netherlands-red) 33.33%,
    var(--color-netherlands-white) 33.33%,
    var(--color-netherlands-white) 66.67%,
    var(--color-netherlands-blue) 66.67%,
    var(--color-netherlands-blue) 100%
  );

  /* Kurzschreibweise */
  background-image: linear-gradient(
    var(--color-netherlands-red) 33.33%,
    var(--color-netherlands-white) 0 66.67%,
    var(--color-netherlands-blue) 0
  );
}

.italy {
  /* Ausführliche Schreibweise */
  background-image: linear-gradient(
    90deg,
    var(--color-italy-green) 0%,
    var(--color-italy-green) 33.33%,
    var(--color-italy-white) 33.33%,
    var(--color-italy-white) 66.67%,
    var(--color-italy-red) 66.67%,
    var(--color-italy-red) 100%
  );

  /* Kurzschreibweise */
  background-image: linear-gradient(
    90deg,
    var(--color-italy-green) 33.33%,
    var(--color-italy-white) 0 66.67%,
    var(--color-italy-red) 0
  );
}

.mauritius {
  /* ausführliche Schreibweise */
  background-image: linear-gradient(
    var(--color-mauritius-red) 0%,
    var(--color-mauritius-red) 25%,
    var(--color-mauritius-blue) 25%,
    var(--color-mauritius-blue) 50%,
    var(--color-mauritius-yellow) 50%,
    var(--color-mauritius-yellow) 75%,
    var(--color-mauritius-green) 75%,
    var(--color-mauritius-green) 100%
  );

  /* Kurzschreibweise */
  background-image: linear-gradient(
    var(--color-mauritius-red) 25%,
    var(--color-mauritius-blue) 0 50%,
    var(--color-mauritius-yellow) 0 75%,
    var(--color-mauritius-green) 0
  );
}

.thailand {
  background-image: linear-gradient(
    var(--color-thailand-red) 16.67%,
    var(--color-thailand-white) 0 33.33%,
    var(--color-thailand-blue) 0 66.67%,
    var(--color-thailand-white) 0 83.33%,
    var(--color-thailand-red) 0
  );
}

.japan {
  /* Ausführliche Schreibweise */
  background-image: radial-gradient(
    circle closest-side,
    var(--color-japan-red) 0%,
    var(--color-japan-red) 59%,
    var(--color-japan-white) 61%,
    var(--color-japan-white) 100%
  );

  /* Kurzschreibweise */
  background-image: radial-gradient(
    circle closest-side,
    var(--color-japan-red) 59%,
    var(--color-japan-white) 61%
  );
}

.palau {
  width: var(--flag-width-palau);

  /* Ausführliche Schreibweise */
  background-image: radial-gradient(
    circle closest-side at 37.5% 50%,
    var(--color-palau-yellow) 0%,
    var(--color-palau-yellow) 59%,
    var(--color-palau-blue) 61%,
    var(--color-palau-blue) 100%
  );

  /* Kurzschreibweise */
  background-image: radial-gradient(
    circle closest-side at 37.5% 50%,
    var(--color-palau-yellow) 59%,
    var(--color-palau-blue) 61%
  );
}

.benin {
  /* Ausführliche Schreibweise */
  background-image: linear-gradient(
      90deg,
      var(--color-benin-green) 0%,
      var(--color-benin-green) 40%,
      transparent 40%,
      transparent 100%
    ),
    linear-gradient(
      var(--color-benin-yellow) 0%,
      var(--color-benin-yellow) 50%,
      var(--color-benin-red) 50%,
      var(--color-benin-red) 100%
    );

  /* Kurzschreibweise */
  background-image: linear-gradient(
      90deg,
      var(--color-benin-green) 40%,
      transparent 0
    ),
    linear-gradient(var(--color-benin-yellow) 50%, var(--color-benin-red) 0);
}

.sweden {
  background-color: var(--color-sweden-blue);
  width: var(--flag-width-sweden);

  /* Ausführliche Schreibweise */
  background-image: linear-gradient(
      transparent 0%,
      transparent 40%,
      var(--color-sweden-yellow) 40%,
      var(--color-sweden-yellow) 60%,
      transparent 60%,
      transparent 100%
    ),
    linear-gradient(
      90deg,
      transparent 0%,
      transparent 31.25%,
      var(--color-sweden-yellow) 31.25%,
      var(--color-sweden-yellow) 43.75%,
      transparent 43.75%,
      transparent 100%
    );

  /* Kurzschreibweise */
  background-image: linear-gradient(
      transparent 40%,
      var(--color-sweden-yellow) 0 60%,
      transparent 0
    ),
    linear-gradient(
      90deg,
      transparent 31.25%,
      var(--color-sweden-yellow) 0 43.75%,
      transparent 0
    );
}

.switzerland {
  background-color: var(--color-switzerland-red);
  width: var(--flag-width-switzerland);

  background-image: linear-gradient(
      90deg,
      transparent 35%,
      rgb(255, 255, 255) 0 65%,
      transparent 0
    ),
    linear-gradient(
      transparent 35%,
      var(--color-switzerland-white) 0 65%,
      transparent 0
    );

  background-size: 62.5% 62.5%;
  background-repeat: no-repeat;
  background-position: center;
}

.czech-republic {
  background-image: conic-gradient(
      transparent 236deg,
      var(--color-czech-republic-blue) 236.5deg 303.5deg,
      transparent 304deg 360deg
    ),
    linear-gradient(
      var(--color-czech-republic-white) 50%,
      var(--color-czech-republic-red) 0
    );

    
}

.bahamas {
  width: var(--flag-width-bahamas);

  background-image: conic-gradient(
      at 45.45%,
      transparent 241deg,
      var(--color-bahamas-black) 241.5deg 298.5deg,
      transparent 299deg 360deg
    ),
    linear-gradient(
      var(--color-bahamas-blue) 0 33.33%,
      var(--color-bahamas-yellow) 0 66.67%,
      var(--color-bahamas-blue) 0
    );
}

.seychelles {
  width: var(--flag-width-seychelles);

  background-image: conic-gradient(
    at 0% 100%,
    var(--color-seychelles-blue) 0deg 31.9deg,
    var(--color-seychelles-yellow) 32.1deg 53.9deg,
    var(--color-seychelles-red) 54.1deg 71.4deg,
    var(--color-seychelles-white) 71.6deg 80.3deg,
    var(--color-seychelles-green) 80.7deg 90deg,
    transparent 90deg
  );
}

.north-macedonia {
  width: var(--flag-width-north-macedonia);

  background-image: radial-gradient(
      circle,
      var(--color-north-macedonia-yellow) 12%,
      var(--color-north-macedonia-red) 13% 15%,
      transparent 16%
    ),
    conic-gradient(
      var(--color-north-macedonia-yellow) 0deg 10deg,
      var(--color-north-macedonia-red) 11deg 54.6deg,
      var(--color-north-macedonia-yellow) 55deg 63.3deg,
      var(--color-north-macedonia-red) 63.5deg 84deg,
      var(--color-north-macedonia-yellow) 85deg 95deg,
      var(--color-north-macedonia-red) 96deg 116.5deg,
      var(--color-north-macedonia-yellow) 116.7deg 125deg,
      var(--color-north-macedonia-red) 125.4deg 170deg,
      var(--color-north-macedonia-yellow) 170.6deg 189.4deg,
      var(--color-north-macedonia-red) 190deg 234.6deg,
      var(--color-north-macedonia-yellow) 235deg 243.3deg,
      var(--color-north-macedonia-red) 243.5deg 264deg,
      var(--color-north-macedonia-yellow) 265deg 275deg,
      var(--color-north-macedonia-red) 276deg 296.5deg,
      var(--color-north-macedonia-yellow) 296.7deg 305deg,
      var(--color-north-macedonia-red) 305.4deg 349deg,
      var(--color-north-macedonia-yellow) 350deg 360deg
    );
}
