:root {
  --flag-height: 7rem;
  --flag-width: calc(var(--flag-height) * 1.5);
  --skeleton-highlight: #909090;
  --skeleton-background: #707070;
}

.loading-spinner {
  aspect-ratio: 1/1;
  height: calc(var(--flag-height) * 0.5);
  margin: 0 3.5rem;
}

.skeleton-pulse {
  background-color: var(--skeleton-background);
  border-radius: 0.25rem;
  height: var(--flag-height);
  width: var(--flag-width);
}

.skeleton-shimmer {
  background-image: linear-gradient(
    90deg,
    var(--skeleton-background) 0%,
    var(--skeleton-highlight) 50%,
    var(--skeleton-background) 100%
  );
  background-size: 200% 100%;
  border-radius: 0.25rem;
  height: var(--flag-height);
  width: var(--flag-width);
}

.bouncing-dots {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  padding: 0 4rem 0.5rem 4rem;

  .dot {
    background-color: var(--skeleton-background);
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
  }
}
