:root {
  --flag-height: 7rem;
  --flag-width: calc(var(--flag-height) * 1.5);
  --color-primary: rgb(128 0 128);
  --skeleton-background-pulse: #808080;
  --skeleton-highlight-shimmer: #b0b0b0;
  --skeleton-background-shimmer: #606060;
}

@keyframes bounce {
  from {
    translate: 0 0rem;
  }

  to {
    translate: 0 -0.375rem;
  }
}

@keyframes pulse {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  50%,
  100% {
    transform: translateX(100%);
  }
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}

.loading-spinner-container {
  height: var(--flag-height);
  width: var(--flag-width);
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-spinner {
    aspect-ratio: 1/1;
    height: calc(var(--flag-height) * 0.5);

    @media (prefers-reduced-motion: no-preference) {
      animation: spin 1s infinite linear;
    }
  }
}

.skeleton-pulse {
  background-color: var(--skeleton-background-pulse);
  border-radius: 0.25rem;
  height: var(--flag-height);
  width: var(--flag-width);

  @media (prefers-reduced-motion: no-preference) {
    animation: pulse 1.5s infinite alternate cubic-bezier(0.4, 0, 0.6, 1);
  }
}

.skeleton-shimmer {
  background-color: var(--skeleton-background-shimmer);
  border-radius: 0.25rem;
  height: var(--flag-height);
  width: var(--flag-width);
  position: relative;
  overflow: hidden;

  @media (prefers-reduced-motion: no-preference) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(
        115deg,
        transparent 20%,
        rgba(255, 255, 255, 0.08) 35%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.08) 65%,
        transparent 80%
      );
      transform: translateX(-100%);
      animation: shimmer 2s infinite;
    }
  }
}

.bouncing-dots {
  height: var(--flag-height);
  width: var(--flag-width);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 0.375rem;
  padding-bottom: 0.25rem;

  .dot {
    background-color: var(--color-primary);
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;

    @media (prefers-reduced-motion: no-preference) {
      animation: bounce 450ms alternate infinite cubic-bezier(0.2, 0.65, 0.6, 1);

      &:nth-child(2) {
        animation-delay: 150ms;
      }

      &:last-child {
        animation-delay: 300ms;
      }
    }
  }
}
